venv/
saved_models/
*.pyc
__pycache__/
.ipynb_checkpoints/
*.h5
*.pt
*.pth
data/
.env
*.svs
*.h5
*.pt
data/
weights/
__pycache__/
data/
slides/
tools/
weights/
features/
*.svs
*.h5
*.pt
*.log
__pycache__/
.venv/
vpp-venv/
